@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply font-bold py-2 px-4 rounded-full;
  }

  .btn-blue {
    @apply bg-blue-500 text-white;
  }

  .btn-blue:hover {
    @apply bg-blue-700;
  }
  .h-15-per {
    height: 15%;
  }
  .h-25-per {
    height: 25%;
  }
  .h-45-per {
    height: 45%;
  }
}

@screen md {
  .md-w-600 {
    width: 100%;
    max-width: 600px;
  }
  .md-h-600 {
    height: 100%;
    max-height: 600px;
  }
  .md-h-20-per {
    height: 20%;
  }
  .md-h-60-per {
    height: 60%;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
